footer {
    text-align: left;
    background-color: #1B1B1B;
}

footer .nav-item a {
    font-weight: 400;
}

footer h5, footer .link-white, footer p {
    color: #fff;
}

.text-red {
    color: #B90014;
}